<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ partial "head/css.html" . }}
    {{ partial "head/favicon.html" .}}
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ .Site.BaseURL }}/img/index/mural.jpg">
</head>