#top{
  font-family: 'Sigmar One', cursive;
  font-size:2.4em;
}
#subtext{
  font-family: 'Shadows Into Light', cursive;
  font-size:1.2em;
}
#quotebut{
  font-size:1.1em;
}
#quoteblock{
  border-style:solid;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  max-width:500px;
  font-family: 'Montserrat', sans-serif;
}
